@import '../../styles/Colors';


.popover-container {
    position: relative;
    .content {
        cursor: pointer;
        &:hover {
            opacity: 0.5;
        }
    }
    .popover {
        position: absolute;
        top: calc(100% + 10px);
        border-radius: 4px;
        left: 0;
        width: auto;
        z-index: 10000;
        background: white;
        border: 1px solid $gray-color;
        box-shadow: 0px 0px 4px #c5c5c5;
        transform: scale(0);
        transform-origin: top;
        transition: transform 200ms;
        &.up {
            bottom: 0px;
        }
        &.visible {
            transform: scale(1);
        }
        &::after {
            content: '';
            left: 50%;
            position: absolute;
            transform: translateX(-50%) rotate(45deg);
            background:white;
            width: 8px;
            height: 8px;
            border-left: 1px solid $gray-color;
            border-top: 1px solid $gray-color;
            top: -5px;
        }
    }
}