@import '../../styles/Colors';
@import '../../styles/Common';

.dropdown {
  position: relative;
  min-width: 100px;
  &.clear {
    .main {
      border: none;
      background: transparent;
    }
    .dropdown-content {
      border: none;
    }
  }
  .main {
    cursor: pointer;
    border: 1px solid $gray2-color;
    border-radius: 6px;
    font-size: 14px;
    min-width: 200px;
    padding: 12px;
    background: white;
    input {
      border: none;
      width: 100%;
      font-size: 14px;
      outline: none;
      padding: 0px;
    }
    &.placeholder {
      color: $gray-color;
      font-weight: normal;
    }
    &:hover {
      border-color: $primary-color;
    }
    &.active {
      border-color: $primary-color;
      @extend %box-shadow;
      z-index: 10000;
      border-bottom-left-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
      border-bottom: 0px;
    }
  }
  .handle-container {
    padding: 5px 10px;
  }
  .handle {
    margin-left: 10px;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid $darkgray-color;
    &.active {
      border-top: 0px;
      border-bottom: 4px solid $darkgray-color;
    }
  }
  .dropdown-content {
    position: absolute;
    z-index: 1000000;
    max-height: 350px;
    overflow-y: scroll;
    @extend %box-shadow;
    border: 1px solid $primary-color;
    border-radius: 4px;
    transform-origin: top;
    transform: rotateX(-90deg);
    transition: transform 0.3s linear;
    top: 100%;
    left: 0px;
    width: calc(100% - 2px);
    border-top: 0px;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    .item {
      background-color: white;
      padding: 10px 5px;
      font-size: 14px;
      font-weight: bold;
      color: $darkgray-color;
      cursor: pointer;
      &:hover {
        background-color: #f1f1f1;
      }
    }
    &.active {
      transform: rotateX(0deg);
    }
    .meta {
      font-size: 12px;
      font-weight: normal;
    }
  }
}
