@import '../../../styles/_Index.scss';

.detail-page {
  .header {
    background: white;
    @extend %box-shadow;
    padding: 20px;
    .title {
      color: $bold-color;
      font-weight: bold;
    }
  }
  .content {
    padding: 20px;
    .small-text {
      font-size: 12px;
    }
  }
  .price {
    font-size: 22px;
    color: $bold-color;
    font-weight: bold;
  }
  .bold-primary-text {
    font-weight: bold;
  }
  .description {
    overflow: hidden;
    margin-bottom: 0px;
  }
  .showFullDescButton {
    font-size: 12px;
    color: blue;
    &:hover {
      cursor: pointer;
    }
    margin-bottom: 6px;
  }
}
