@import '../../../styles/Index';

.footer-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  padding: 10px;
  @extend %strong-box-shadow;
  background-color: $primary-color;
  z-index: 3;
  .item {
    &.active {
    }
  }
}
