@import '../../../styles/_Index.scss';

.upload-jobs {
  padding: 20px;
  h2 {
    margin-bottom: 20px;
  }
  .photo {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    position: relative;
    width: 100px;
    height: 100px;
    img {
      width: 100px;
      border-radius: 5px;
      height: 100px;
      object-fit: cover;
    }
    &.processing::after {
      content: '';
      text-align: center;
      position: absolute;
      height: 100%;
      width: 100%;
      opacity: 0.4;
      top: 0px;
      left: 0px;
      background-color: $dust-color;
    }
    .upload {
      font-style: italic;
      font-weight: bold;
      font-size: 12px;
    }
    .error {
      font-weight: bold;
      font-size: 12px;
      color: $red-color;
    }
    .done {
      font-weight: bold;
      font-size: 12px;
      color: $green-color;
    }
  }
}
