@import '../../../../styles/_Index.scss';

.zalo-connect {
  padding: 20px;
  .message {
    font-weight: bold;
    color: $gray-color;
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
}
