.total_transaction{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-top: 1px solid #EF6B37;
    p{
        font-size: 20px;
        font-weight: 500;
        color: black;
    }
}