@import '../../styles/Colors';
@import '../../styles/Common';

.input-container {
  flex-direction: column;
  display: flex;
  input,
  textarea {
    border: $gray2-color 1px solid;
    border-radius: 6px;
    transition: all ease-in-out 0.5s;
    font-size: 14px;
    padding: 12px;
    outline: none;
    background-color: rgb(248, 248, 248);
  }
  input:active,
  input:hover,
  textarea:active,
  textarea:hover {
    border: $primary-color 1px solid;
  }
  &.disabled {
    input,
    textarea {
      opacity: 0.7;
      background-color: rgb(234, 234, 234);
      border-color: rgb(200, 200, 200);
      color: $gray2-color;
      cursor: not-allowed;
    }
  }
  label {
    @extend %form-label;
    .require {
      color: $red-color;
      margin-left: 4px;
    }
  }
  .suggestions {
    position: absolute;
    top: 100%;
    left: 0px;
    z-index: 10000;
    border-radius: 6px;
    overflow: hidden;
    @extend %strong-box-shadow;
    .suggestion-item {
      padding: 5px 10px;
      background: white;
      font-size: 14px;
      cursor: pointer;
      &:hover {
        background: whitesmoke;
      }
    }
  }
}
