@import '../../../styles/_Index.scss';
@import '../../../styles/Colors';

.new-customer {
  padding: 30px;
  @media screen and (max-device-width: 480px) and (orientation: portrait) {
    padding: 20px;
    height: 600px;
    overflow: scroll;
  }
  h2 {
    font-size: 20px;
    font-weight: 900;
    color: $darkgray-color;
  }
}

.extra-line {
  width: 100%;
  text-align: center;
  border-bottom: 0.7px solid $primary_color;
  line-height: 0.1em;
  margin: 0px 0 20px;
}

.extra-line span {
  background: #fff;
  padding: 0 10px;
  color: $darkgray-color;
  font-weight: 700;
}
