@import '../../../styles/_Colors.scss';

//$chat-shell-background: lighten($accent-color, 65%);

#chat-container {
  display: grid;
  grid:
    'search-container chat-title' 71px
    'conversation-list chat-message-list' 1fr
    'new-message-container chat-form' 78px
    / 275px 1fr;
  //min-width: 1000px;
  //max-width: 100%;
  min-height: 100%;
  width: 100%;
  background: lighten($accent-color, 65%);
  border-radius: 10px;
  overflow-y: scroll;
  @media only screen and (max-width: 900px) {
    min-height: 850px;
  }
}
.search-container {
  align-items: center;
  grid-area: search-container;
  background: $primary-color;
  padding: 0 20px;
  border-radius: 10px 0 0 0;
  box-shadow: 0 1px 3px -1px $shadow-box-color;
  width: 100%;
  z-index: 1;
  padding: 1% 1% 0%;

  .searchBox {
    margin-top: 5%;
  }
  // input {
  //   margin-top: 1%;
  //     flex: 1 0 0;
  //     color: $accent-color;
  //     outline: none;
  //     border-radius: 2px;
  //     height: 30px;
  //     border: 0;
  //     //padding-left: 48px;
  //     //padding-right: 20px;
  //     padding: auto;
  //     font-size: 1.4rem;
  //     //background: url('../../../images/search/search.svg') no-repeat $search-background-image-color;
  //     background-position: 15px center;
  //     background-size: 20px 20px;
  //     width: 100%;
  //     border: 2px solid green
  // }

  // input::placeholder {
  //     color: $light-grey-border;

  // }
}