@import '../../styles/Index';

.ant-table-wrapper {
  background-color: white;
  border-radius: 10px;
  @extend %box-shadow;
}
.tg-table-custom {
  td {
    padding: 6px 6px !important;
  }
  th {
    white-space: nowrap;
  }
}

.react-resizable {
  position: relative;
  background-clip: padding-box;
}

.react-resizable-handle {
  position: absolute;
  width: 10px;
  height: 100%;
  bottom: 0;
  right: -5px;
  cursor: col-resize;
  z-index: 1;
}
