@import '../../styles/Colors';
@import '../../styles/Common';

h1 {
    color: $dust-color;
    font-size: 15px;
    font-weight: 900;
    text-transform: uppercase;
  }

.list-group-item {
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid $gray2-color;
}

.moveable {
    cursor: grab;
}

.switch {
    float: right;
}

.title {
    margin-left: 5px;
    font-weight: bold;
    font-size: 15px;
}
.column-list-content{
    height: 50vh;
    overflow: auto;
    border: 1px solid $gray2-color;
    border-radius: 6px;
}

.list-separator {
    border: 1px solid $primary-color;
}