@import '../../styles/Index';

.btn {
  border-radius: 30px;
  color: white;
  text-transform: capitalize;
  background-color: $primary-color;
  padding: 10px 20px;
  font-weight: bolder;
  font-size: 14px;
  border: none;
  cursor: pointer;
  outline: none;
  @extend %strong-box-shadow;
  &.border {
    border: solid 1px $primary-color;
  }
  &.small {
    padding: 8px 15px;
    font-size: 13px;
  }
  .no-shadow {
    box-shadow: none;
  }
  &.clear {
    color: $primary-color !important;
    box-shadow: none;
    background-color: transparent !important;
    &:hover {
      color: white !important;
    }
  }
  outline: none;
  &:hover {
    background-color: #ff8731 !important;
  }
}
