@import "../../../styles/_Index.scss";

.notification-page {
  overflow: hidden;
  padding: 30px 60px;
  @media screen and (max-device-width: 480px) and (orientation: portrait) {
    padding: 20px;
  }
  .bold-text {
    color: $dust-color;
    font-weight: bold;
  }
  .toolbar {
    .total {
      font-size: 20px;
      color: $bold-color;
      font-weight: 800;
    }
  }
  h1 {
    color: $dust-color;
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
  }
  h2 {
    margin-bottom: 10px;
  }
  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  .user {
    font-weight: 700;
    color: $primary-color;
  }
  .title {
    font-weight: 700;
    color: $dust-color;
  }
  .type {
    color: $darkgray-color;
  }
  font-size: 13px;
  p {
    margin: 0px;
    margin-right: 10px;
  }
  .time {
    font-size: 12px;
    color: $gray2-color;
    font-weight: 700;
    padding-top: 20px;
  }
  .bold-primary-text {
    color: #ff6c00;
    font-weight: bold;
    font-size: 13px;
  }

  .infinite-container {
    border-radius: 4px;
    overflow: auto;
    box-shadow:  rgba(165, 165, 165, 0.3) 0px 0px 10px 2px;
  }
}
