@import '../../../styles/_Index.scss';

.users-page {
  padding: 20px;
  .bold-text {
    color: $dust-color;
    font-weight: bold;
  }
  .toolbar {
    .total {
      font-size: 20px;
      color: $bold-color;
      font-weight: 800;
    }
  }

  .user-item {
    .name {
      font-size: 14px;
      font-weight: bold;
      color: black;
    }
    .role {
      &.admin {
        color: $primary-color;
      }
    }
  }
}
