@import '../../../../../styles/_Colors.scss';

.conversation {
  display: grid;
  grid-template-columns: 100px 1fr max-content;
  grid-gap: 10px;
  color: $contrasted-primary-text; // $contrasting-primary-text-color;
  font-size: 1.3rem;
  border-bottom: 1px solid $primary-dark;
  padding: 20px 20px 20px 15px;

  &.active,
  &:hover {
    background: $primary-dark;
  }

  &:hover {
    cursor: pointer;
  }

  > img {
    grid-row: span 2;
    height: 40px;
    width: 40px;
    border-radius: 100%;
  }

  .title-text {
    min-width: 30%;
    font-weight: bold;
    padding-left: 5px;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
  }

  .created-date {
    color: $light-grey-border;
    grid-column: span 2;
    white-space: nowrap;
    font-size: 1rem;
  }

  .conversation-message {
    grid-column: span 2;
    padding-left: 5px;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
  }
}
