@import '../../styles/Colors';

.tabs {
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  background: rgba(187, 187, 187, 0.5);
  a {
    text-decoration: none;
  }
  .item {
    padding: 8px 20px;
    text-transform: uppercase;
    color: rgb(197, 197, 197);
    font-size: 14px;
    font-weight: 700;
    &.active {
      border-radius: 20px;
      background: white;
      color: $primary-color;
      height: 100%;
    }
  }
}
