@import '../../../styles/_Index.scss';

.newhouse-page {
  padding: 20px;
  padding-bottom: 60px;
  h2 {
    font-size: 22px;
    font-weight: 900;
    color: $darkgray-color;
    text-align: left;
  }
  h3 {
    font-size: 16px;
  }
  .flexbox {
    margin-bottom: 0;
  }
  .card {
    // padding: 20px;
  }
  .checkbox {
    label {
      text-transform: none;
    }
  }
  .footer {
    position: absolute;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 3;
    background: white;
    padding: 10px 20px;
    @extend %strong-box-shadow;
    @media screen and (max-device-width: 480px) and (orientation: portrait) {
      bottom: 60px;
      position: fixed;
    }
  }
  .images {
    h3 {
      margin-top: 0px;
      margin-bottom: 10px;
    }
    .flexbox {
      margin-bottom: 10px;
    }
    img {
      margin-right: 10px;
      border-radius: 10px;
    }
  }
}
@media only screen and (max-width: 900px) {
  .header-newHouse {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    flex-wrap: wrap;
  }
  .purpose-item {
    width: 40%;
    position: relative;
  
    &.active {
      .card {
        
        border: 4px $primary-color solid;
        color: $bold-color;
      }
      .icon {
        visibility: visible;
      }
    }
    .card {
      // padding: 30px 30px;
      max-height: 50px;
      font-weight: 900;
      color: rgb(185, 185, 185);
    }
    .icon {
      position: absolute;
      right: 8px;
      top: 8px;
      visibility: hidden;
      font-size: 20px;
      z-index: 22;
    }
  }
}
@media only screen and (min-width: 1200px) {
  .header-newHouse {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    flex-wrap: wrap;
  }
  .purpose-item {
    width: 180px;
    position: relative;
    &.active {
      .card {
        border: 4px $primary-color solid;
        color: $bold-color;
      }
      .icon {
        visibility: visible;
      }
    }
    .card {
      // padding: 30px 30px;
      font-weight: 900;
      color: rgb(185, 185, 185);
    }
    .icon {
      position: absolute;
      right: 8px;
      top: 8px;
      visibility: hidden;
      font-size: 20px;
      z-index: 22;
    }
  }
}
