.knowLedge ~ div{
    background-color: red !important;
}
.knowLedge{
    height: 100vh;
    width: 100%;
    margin: auto;
    background-image: url(https://thinhgialand.com/static/images/panorama.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    .gutterList{
        height: fit-content;
        display: flex;
        justify-content: flex-start;
        overflow: scroll;
    flex-wrap: nowrap;
        
    }
    .gutterList+div{
        display: flex !important;
    }

    .gutterGroup{
        background-color: #e3e3e352;
        padding: 10px;
        height: fit-content;
        overflow-y: scroll;
        max-height: 90vh;
        border: none;
        margin: 20px 10px 0 10px;
        .ant-collapse-content.ant-collapse-content-active{
            background-color: transparent;
        }
        .ant-collapse-content-box{
            padding: 0;
        }
        .ant-collapse-header{
            color: #fff;
            font-size: 20px;
            }
    }

    .knowLedgeContainer {
        height: fit-content;
        width: 200px;
        border-radius: 8px;
        // overflow-y: scroll;
        // max-height: 90vh;
        .ant-card.ant-card-bordered.ant-card-hoverable{
            margin-bottom: 20px;
            box-shadow: 1px 1px 0 0 #c2c2c2;
            border: none;
            border-radius: 8px;
            .ant-card-cover{
                height: 100px;
                width: 100%;
                margin: 0;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .ant-card-body{
                padding: 5px
            }
        }
    }  
    .ant-row{
        padding: 20px ;
    }
    &_button{
    padding-top: 10px;
        display: flex;
        align-items: center;
    }

    &_item-button{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        .btn-hover{
            padding: 5px;
            width: fit-content !important;
            font-size: 14px !important;
            font-weight: 700;
            margin: 0 !important;
        }
    }
}

.buttonAdd {
    width: 100% !important;
    background-color: #e3e3e3;
    color: black;
    margin: 0 auto !important;
    text-align: center;
    padding: 5px;
    border: 1px solid #e3e3e3;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 0px #3d3d3d;
    cursor:progress;
    transition: 0.1s linear;

    &:hover{

        background-color: #608288;
        border-color: #608288;
        color: white;
    }
}

.userImagePost {
    width: 27px;
    height: 27px;
    border-radius: 50%;
    overflow: hidden;;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.postItem{
    // background-color: #f1f1f1;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    border-radius: 8px;
    padding: 10px;
    border: none;
    margin: 0;
    margin-bottom: 20px;
    transition: all .2s linear;
    &:hover{
        box-shadow: 0 0 5px 3px #e3e3e3f5;

    }
        h6{
            font-size: 20px;
            color: black;
        }
        p{
            font-size: 16px;
            color: #d95300;
        }
        &_button{
            display: flex;
            justify-content: flex-end;
        }
}
.btn-hover {
    display: inline;
    margin-left: 10px;
    padding: 10px 20px;
    width: fit-content;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 10px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.btn-hover.color-blue {
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}
.btn-hover.color-pink {
    background-image: linear-gradient(to right, #ed6ea0, #ec8c69, #f7186a , #FBB03B);
box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
}
.btn-hover.color-red {
    background-image: linear-gradient(to right, #eb3941, #f15e64, #e14e53, #e2373f);  box-shadow: 0 5px 15px rgba(242, 97, 103, .4);
}
.btn-hover.color-green {
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}

.btn-grad {
    background-image: linear-gradient(to right, #304352 0%, #d7d2cc  51%, #304352  100%);
    margin-left: 20px;
    padding: 10px 20px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    border: none;
  }

  .btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
 
 
 
 
 
  .btn_move {
    font-size: 20px;
    margin-left: 5px;
    width: fit-content;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
    animation-name: bounce;
    animation-timing-function: ease;
  }
  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(3px);
    }
    100% {
      transform: translateY(0);
    }
  }