@import '../../../styles/_Index.scss';

.new-house {
    padding: 30px;
    overflow: scroll;
    max-height: 80vh;
    h2 {
        font-size: 20px;
        font-weight: 900;
        color: $darkgray-color;
    }
}