@media only screen and (max-width: 825px) {
  /* For mobile phones: */
  .main {
    padding: 10;
    display: block;
  }

  .div2 {
    min-width: 45%;
    margin-left: none;
  }

  .selectUser {
    margin-left: 1%;
    width: 100%;
  }
  .menu {
    display: block;
    width: 100%;
    height: auto;
  }
  .menuStaff {
    display: block;
    margin-top: 5px;
    width: 100%;
  }
  .rangPicker {
    max-height: 35px;
    margin-left: 1%;
    width: 95%;
  }
  .department {
    display: flex;
    width: 95%;
    margin-top: 1%;
  }
  .staff {
    display: flex;
    width: 95%;
    margin-top: 1%;
  }
  .dateTime {
    display: flex;
    max-height: 70px;
    width: 95%;
  }
  .select {
    margin-left: 1%;
    max-width: 50%;
    width: 100%;
  }
  .search {
    margin-left: 1%;
    // max-width: 50%;
    width: 50%;
    margin-top: 1%;
  }

  .cmbRangPicker {
    display: flex;
    justify-content: space-between;
    width: 95%;
  }
  .item .active{
    height: 100%;
  }
}
@media only screen and (min-width: 900px) {
  /* For mobile phones: */
  .main {
    display: flex;
    padding: 10;
  }
  .menuStaff {
    display: flex;
    max-height: 70px;
    margin-top: 5px;
  }
  .rangPicker {
    max-height: 35px;
    margin-left: 4%;
    width: 100%;
  }
  .department {
    display: flex;
    min-width: 10%;
    margin-left: 1%;
  }
  .staff {
    display: flex;
    margin-left: 2%;
  }
  .selectUser {
    margin-left: 2%;
    min-width: 200px;
  }
  .select {
    margin-left: 1%;
    max-width: 21%;
    width: 10%;
  }
  .search {
    margin-left: 1%;
    max-width: 21%;
    width: 100%;
  }
  .cmbRangPicker {
    display: flex;
    min-width: 23%;
  }
}

.child {
  display: flex;
  min-width: 100%;
  display: flex;
}
.row {
  min-width: 100%;
  margin-bottom: 20px;
}
.h3-right {
  margin-top: 5%;
  margin-bottom: 3%;
}
.revenue {
  margin-left: 10%;
  width: 100%;
}
.value {
  margin-left: 80%;
}
.div1 {
  min-width: 45%;
}
.div2 {
  min-width: 45%;
  margin-left: 10%;
}
.right {
  min-width: 50%;
  margin-top: 1%;
}
.left {
  margin-top: 1%;
  min-width: 50%;
}
.bussiness {
  border: 1px solid red;
}
.name {
  min-height: 30%;
}
.title {
  min-width: 100%;
  display: flex;
}

.selectSecond {
  width: 15%;
  width: 100%;
}
.lstUser {
  max-width: 10%;
  width: 100%;
  margin-left: 1%;
}

.selectFiveWay {
  width: 40%;
  margin-bottom: 10px;
}
// .checkBox {
//   margin-left: 1%;
// }
.FiveWay {
  margin-bottom: 10px;
}
