.newTransactionBill{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
@media screen and (max-width: 400px) {
  .tabsAdding {
    display: block;
    padding: 10px;
    margin-bottom: 5px;
  }
}
.rangPicker {
  max-height: 35px;
  margin-left: 1%;
  width: 95%;
}
