@import '../../../styles/Index';

.header-container {
  height: 40px;
  padding: 15px 30px;
  @extend %strong-box-shadow;
  background-color: white;
  z-index: 3;
  &.mobile {
    padding: 10px 20px;
  }
  .middle-button {
    position: absolute;
    left: 50%;
    top: 0px;
    margin-left: -33px;
    padding: 16px 19px;
    border-radius: 50%;
    background: $primary-color;
    @extend %strong-box-shadow;
    z-index: 100;
  }
  .btn {
    // color: $primary-color !important;
    // background-color: white !important;
    margin-right: 10px;
  }
  h2 {
    font-size: 22px;
    font-weight: 800;
    line-height: 0.6;
    color: $dust-color;
  }
  .divider {
    display: inline-block;
    width: 2px;
    height: 35px;
    margin-right: 20px;
    background-color: rgba(214, 214, 214, 0.58);
    border-radius: 1px;
  }
  .avatar {
    margin-left: 10px;
    img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }
  }
  .search-box {
    position: relative;
    .fa-search {
      position: absolute;
      left: 10px;
      top: 13px;
      z-index: 10000;
      color: $gray2-color;
    }
    input {
      border-radius: 20px;
      width: 220px;
      padding: 12px 10px 12px 35px !important;
      &::placeholder {
        font-weight: 700;
        color: $gray2-color;
      }
      border-color: $lightgray-color;
    }
  }
}
