@import '../../../styles/Index';

.noti {
  cursor: pointer;
  position: relative;
  .badge {
    position: absolute;
    right: 3px;
    top: -8px;
    padding: 1px 4px;
    font-size: 11px;
    font-weight: 900;
    color: white;
    background-color: $primary-color;
    border-radius: 3px;
    @extend %box-shadow;
  }
}
