@import '../../../styles/_Index.scss';

.community {
  // background-color: white;
  .ant-comment-content-author-name {
    font-weight: bold;
  }
  .ant-comment-inner {
    padding: 10px 0px;
  }
  h2 {
    margin-bottom: 10px;
  }
  .notiItem {
    position: relative;
    // padding-top: 15px;
    // padding-bottom: 15px;
    // border-bottom: 1px solid #e6e6e6;
    .user {
      font-weight: 700;
      color: $darkgray-color;
    }
    font-size: 13px;
    p {
      margin: 0px;
      margin-right: 10px;
    }
    .time {
      font-size: 10px;
      color: $gray2-color;
      font-weight: 700;
    }
    .avatar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 10px;
    }
    .comment-label {
      font-weight: bold;
      color: #979797;
      margin-left: 5px;
    }
    .house-title {
      color: $bold-color;
      font-weight: bold;
    }
    .card {
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: 50px;
    }
  }
  .user-avt {
    padding: 5px;
    margin-left: 10px;

    img {
      width: 25px;
      height: 25px;
      border-radius: 20px;
      object-fit: cover;
    }
  }
}
