.comment-box {
  position: relative;
  &.hidden {
    filter: grayscale(1) opacity(0.8);
  }
  .action-box {
    position: absolute;
    top: 0px;
    right: 10px;
  }
  .image-box {
    img {
      width: 150px;
      height: 120px;
      object-fit: cover;
    }
  }
  .hidden-label {
    position: absolute;
    top: 0px;
    right: 50px;
    color: white;
    padding: 2px 6px;
    border-radius: 4px;
    background-color: rgb(218, 111, 111);
  }
}
