.comment {
  .ant-comment-content-author {
    position: relative;
  }
  .top-info-button {
    position: absolute;
    top: 0;
    right: 0px;
    font-size: 25px;
    cursor: pointer;
  }
  .title {
    font-weight: bold;
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
  .address {
    font-weight: bold;
    font-size: 10px;
    color: blue;
    // margin-top: 5px;
  }
  .image {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 6px;
  }
  .centerSpin {
    margin: 10px;
    text-align: center;
  }

  .feature-images {
    cursor: pointer;
    position: relative;
    .see-more-image {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      margin: 5px;
      background-color: rgba(128, 128, 128, 0.6);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 6px;
      .see-more-text {
        color: whitesmoke;
        font-weight: bold;
        font-size: 14px;
      }
    }
  }
  .detail {
    padding: 20px;
    .label {
      font-size: 14px;
      font-weight: 600;
      color: gray;
    }
    span {
      max-width: 160px;
      margin-top: 8px;
      font-size: 14px;
      font-weight: 800;
      color: grey;
    }
  }
  .label {
    padding: 0px;
  }

  .like-button {
    margin-left: 0px;
    font-weight: bold;
    font-size: 16px;
  }
  .action-button {
    margin-left: 20px;
    font-weight: bold;
    font-size: 16px;
  }
}
