@import '../../../../../styles/_Colors.scss';

#conversation-list {
  grid-area: conversation-list;
  background: $primary-color;
  max-height: 90vh;
  overflow-y: scroll;
  //overflow: hidden;
}
#conversation-list::-webkit-scrollbar {
    display: none;
}
