$primary-color: #ff6c00;
$bold-color: #b65f20;
$secondary-color: #26c1c9;
$green-color: #65ce00;
$yellow-color: #f3b41b;
$lightblue-color: #91d5ef;
$gray-color: #979797;
$gray2-color: #b3b3b3;
$gray3-color: #031126;
$lightgray-color: #f1f1f1;
$steel-color: #79818c;
$darkgray-color: #7e8692;
$red-color: #bb0000;
$dust-color: #3f536e;
$transparent: transparent;
$black: #031126;
$light-orange-color: #fcd8aa;
:export {
  primaryColor: $primary-color;
  secondaryColor: $secondary-color;
  grayColor: $gray-color;
  darkgrayColor: $darkgray-color;
  redColor: $red-color;
  lightGrayColor: $lightgray-color;
  lightBlueColor: $lightblue-color;
  yellowColor: $yellow-color;
  dustColor: $dust-color;
  boldColor: $bold-color;
  lightOrangeColor: $light-orange-color;
}
$accent-color: #eee;

$contrasted-primary-text: #fff; // contrast-color($primary-color, lighten($accent-color, 10), darken($accent-color, 10));
$contrasted-accent-text: #111; // contrast-color($accent-color, lighten($primary-color, 10), darken($primary-color, 10));

$primary-dark: darken($primary-color, 8%);
$contrasting-primary-text-color: black; // choose-contrast-color($primary-color);
$contrasting-accent-text-color: white; // choose-contrast-color($accent-color);

$shadow-box-color: #000000bf;
$search-background-image-color: #ffffff4d;
$light-grey-border: #ddd;
$accent-text-color: darken($accent-color, 86.67);

$sky-blue: #57c1eb;
$sky-dark-blue: #246fa8;