@import 'Colors';

%big-blue-number {
  font-size: 30px;
  color: $primary-color;
  font-weight: bold;
}

%box-shadow {
  box-shadow: 0px 0px 20px 1px rgba(165, 165, 165, 0.2);
}
%strong-box-shadow {
  box-shadow: 0px 0px 10px 2px rgba(165, 165, 165, 0.3);
}

%flex-rows {
  display: flex;
  flex-direction: row;
  align-items: center;
}

%form-label {
  font-size: 14px;
  font-weight: bold;
  color: $darkgray-color;
  margin-bottom: 10px;
  margin-top: 10px;
}
