@media only screen and (max-width: 825px) {
  .menuStaff {
    display: block;
    margin-top: 5px;
    width: 100%;
  }
}
@media only screen and (min-width: 900px) {
  /* For mobile phones: */
  .menuStaff {
    display: flex;
    max-height: 70px;
    margin-top: 5px;
  }
}
