.global-loading {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: rgba(160, 160, 160, 0.5);
  z-index: 70000;
}
