@import '../../styles/Colors';


.marker {
    width: 20px;
    height: 20px;
    border-radius: 15px;
    padding: 3px;
    background-color: white;
    box-shadow: 0px 0px 3px $gray-color;
    .inner {
        width: 20px;
        height: 20px;
        border-radius: 10px;
        background-color: $primary-color
    }
}