@import '../../../styles/_Index.scss';

.layout-container {
  background: #3c3c3c;
  .layout-body {
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    background: #fdf7f2;
  }
  .big-header {
    padding: 20px;
    background: #3c3c3c;
    h1 {
      color: white;
      font-size: 20px;
      font-weight: 900;
      text-transform: uppercase;
    }
  }
}
