@import '../../../styles/_Colors';

.login-page {
  background-image: url(../../../assets/images/background2.jpg);
  background-size: cover;

  a {
    text-decoration: none;
    font-size: 13px;
    font-weight: 800;
    color: $primary-color;
  }
}
