@import '../../styles/Index';

.card {
  background-color: white;
  border-radius: 10px;
  border: none;
  outline: none;
  position: relative;
  &.hoverable {
    cursor: pointer;
    &:hover {
      opacity: 0.6;
    }
  }
  &.padding {
    padding: 10px;
  }
  &.shadow {
    @extend %box-shadow;
  }
  > .header {
    padding: 10px 20px;
    border-bottom: 1px solid $lightgray-color;
    h1 {
      text-transform: uppercase;
      font-size: 12px;
    }
  }
  > .content {
    padding: 20px;
  }
  .loading {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(160, 160, 160, 0.5);
    z-index: 30000;
    border-radius: 4px;
  }
}
