@import '../../../styles/_Index.scss';

.project-detail {
  background: white;
  overflow: scroll;
  padding: 10px;
  .header {
    @extend %strong-box-shadow;
  }
  h3 {
    margin: 0px;
    color: $dust-color;
    font-weight: 900;
    font-size: 23px;
  }
  @media screen and (max-device-width: 480px) and (orientation: portrait) {
    left: 0px;
    width: auto;
    border-top: none;
  }
  .description,
  .reject-condition {
    padding: 20px;
    h4 {
      font-size: 20px;
      margin-top: 0px;
    }
    p {
      font-size: 13px;
      white-space: pre-line;
      margin: 0px;
    }
    border-bottom: 0.5px solid rgba(128, 128, 128, 0.39);
    .reject-public {
      margin-bottom: 20px;
      .warning {
        color: red;
      }
    }
    .reject-web .warning {
      color: red;
    }
  }
  .image-row {
    padding: 20px 0px 20px 20px;
    border-bottom: 0.5px solid rgba(128, 128, 128, 0.39);
    border-top: 0.5px solid rgba(128, 128, 128, 0.39);

    h4 {
      margin-top: 0px;
    }
    .row {
      overflow: auto;
      white-space: nowrap;
      margin-top: 10px;
      margin-bottom: 0;
      img {
        width: 100px;
        height: 100px;
        border-radius: 10px;
        object-fit: cover;
        margin-right: 10px;
      }
            
    }
    .flex {
      display: flex !important;
      justify-content: center;
    }
    
  }
  .info {
    padding: 20px;
    border-bottom: 0.5px solid rgba(128, 128, 128, 0.39);
    .icon-item {
      text-align: center;
      span {
        margin-left: 10px;
        font-size: 13px;
        font-weight: 800;
        color: $gray2-color;
      }
    }
  }
  .action-box {
    padding: 10px 20px;
  }
  .customer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;
    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-right: 10px;
    }
    .text {
      font-size: 14px;
      font-weight: 700;
      color: $dust-color;
    }
    .phone {
      font-size: 13px;
      color: $gray2-color;
    }
  }
  .toolbar-comp {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 100;
  }
  .detail {
    padding: 20px;
    .label {
      font-size: 14px;
      font-weight: 600;
      color: gray;
      padding: 0px;
    }
    span {
      max-width: 160px;
      margin-top: 8px;
      font-size: 14px;
      font-weight: 800;
      color: grey;
    }
  }
  .label {
    padding: 5px;
  }
}
.description_internal {
  img {
    width : 100%;
  }
}