@import '../../../styles/_Index.scss';

.filter-bar {
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  width: 300px;
  background: white;
  overflow: scroll;
  z-index: 300;
  padding: 20px;
  @extend %box-shadow;
  border-top: 0.5px solid #8080806b;
  transform: translateX(100%);
  transition: transform 300ms;
  &.visible {
    transform: translateX(0%);
  }
  h3 {
    margin: 0px;
    color: $dust-color;
    font-weight: 900;
    font-size: 23px;
  }
  .body {
    min-height: 300px;
    padding-top: 20px;
    padding-bottom: 20px;
    .dropdown {
      .main {
        min-width: auto;
      }
    }
  }
  @media screen and (max-device-width: 480px) and (orientation: portrait) {
    left: 0px;
    width: auto;
    border-top: none;
  }
  .clearBtn {
    button {
      &:hover {
        color: $primary-color !important;
        background: white !important;
        opacity: 0.5 !important;
      }
    }
  }
  .filter-item {
    margin-bottom: 10px;
    .search {
      padding-left: 8px;
      input {
        border-radius: 20px;
        padding: 6px 12px;
      }
    }
    .dropdown {
      .main {
        border: none;
        font-weight: bold;
      }
      .dropdown-content {
        border: none;
      }
    }
    .btns {
      button {
        padding: 5px 9px;
        margin-left: 10px;
      }
    }
    .filter-item-body {
      overflow-y: scroll;
      transition: max-height 300ms;
      height: auto;
      max-height: 50px;
      &.expand {
        max-height: 230px;
      }
      .selector {
        .btn.clear {
          &:hover {
            background: white !important;
            color: $primary-color !important;
          }
        }
      }
    }

    .compact {
      padding: 5px 10px;
      font-size: 12px;
      font-weight: bold;
    }
    .filter-content {
      opacity: 0;
      visibility: hidden;
      transition: all 300ms;
      max-height: 0px;
      transform-origin: top;
      transform: scaleY(0);
      overflow: scroll;
      &.visible {
        opacity: 1;
        visibility: visible;
        max-height: 200px;
        transform: scaleY(1);
      }
    }
    .filter-values {
      .value-item {
        padding: 5px 10px;
        .checkbox label {
          font-size: 12px;
          font-weight: bold;
        }
      }
      .minmax {
        input {
          width: 40px;
          margin-left: 5px;
          padding: 5px 12px;
          border: none;
          margin-right: 5px;
        }
        font-size: 12px;
        font-weight: bold;
      }
    }
  }
}
