@import '../../styles/Colors';

.modal-container {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  padding-top: 50vh;
  &.visible {
    display: block;
  }
  .content {
    cursor: pointer;
    &:hover {
      opacity: 0.5;
    }
  }

  .modal {
    margin: auto;
    width: 90%;
    // max-height: 90%;
    border-radius: 10px;
    background: white;
    box-shadow: 0px 0px 5px #535353;
    transform: scale(0) translateY(0%);
    transform-origin: top;
    opacity: 0;
    -webkit-transition: transform 300ms, opacity 300ms;
    transition: transform 300ms, opacity 300ms;
    &.visible {
      transform: scale(1) translateY(-50%);
      opacity: 1;
    }
    &.loading {
      filter: grayscale(1);
    }

    .close-btn {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 13px;
      box-shadow: 0px 0px 15px rgba(160, 160, 160, 0.3);
      right: 13px;
      padding: 10px 12px;
      background: white;
      z-index: 20;
      border-radius: 30px;
      &:hover {
        cursor: pointer;
        opacity: 0.7;
      }
    }

    .loading {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      background: rgba(160, 160, 160, 0.5);
      z-index: 30000;
      border-radius: 10px;
    }
  }
}
