@import '../../../styles/_Index.scss';

.shell {
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #fdf7f2;
  width: 100vw;
  .main-content {
    flex: 1;
    align-self: stretch;
    height: 100%;
    overflow: scroll;
  }
}
