@import '../../../styles//Index';
.ant-table-thead > tr > th {
  background: #ff6c00;
  color: #fafafa;
  font-weight: 700;
}
.btn {
  white-space: nowrap;
  padding: 10px 10px;
}

@media screen and (max-width: 850px) {
  ::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
  }
  .rangePicker {
    width: 100% !important;
  }
  .selectUserPost {
    margin-top: 1%;
    width: 100%;
  }
  .inputSearch {
    width: 75%;
  }
  .ant-picker-panel-container .ant-picker-panels {
    display: block !important;
  }
  .purpose-item {
    width: 40%;
    position: relative;

    &.active {
      .card {
        border: 4px $primary-color solid;
        color: $bold-color;
      }
      .icon {
        visibility: visible;
      }
    }
    .card {
      // padding: 30px 30px;
      max-height: 50px;
      font-weight: 900;
      color: rgb(185, 185, 185);
    }
    .icon {
      position: absolute;
      right: 8px;
      top: 8px;
      visibility: hidden;
      font-size: 20px;
      z-index: 22;
    }
  }
}
@media only screen and (min-width: 900px) {
  /* For mobile phones: */
  .rangePicker {
    max-width: 70%;
  }
  .selectUserPost {
    margin-left: 2%;
    min-width: 200px;
  }

  .inputSearch {
    margin-left: 2%;
    max-width: 10%;
  }
  .purpose-item {
    width: 180px;
    position: relative;
    &.active {
      .card {
        border: 4px $primary-color solid;
        color: $bold-color;
      }
      .icon {
        visibility: visible;
      }
    }
    .card {
      // padding: 30px 30px;
      font-weight: 900;
      color: rgb(185, 185, 185);
    }
    .icon {
      position: absolute;
      right: 8px;
      top: 8px;
      visibility: hidden;
      font-size: 20px;
      z-index: 22;
    }
  }
}
.bt-line{
  border-bottom: 1px dashed;
  text-align: center;
}
.postHeader{
  display: flex;
}
.mainContainer{
  margin: 5px;
}
.detailPost{
  ::-webkit-scrollbar {
      width: 0px;
      background: transparent;
      /* make scrollbar transparent */
    }
  @media only screen and (min-width: 900px){
    max-width: 50vw;
  }
}
.html-description {
  overflow: scroll;
  margin-bottom: 0px;
 
}

.html-description-showFullButton {
  font-size: 12px;
  color: blue;

  &:hover {
    cursor: pointer;
  }

  margin-bottom: 6px;
}
 .row {
   overflow: auto;
   white-space: nowrap;

   img {
     width: 100px;
     height: 100px;
     border-radius: 10px;
     object-fit: cover;
     margin-right: 10px;
   }

 }

 .flex {
   display: flex !important;
 }