@import '../../styles/_Index.scss';

.steps {
  .header {
    min-width: 100px;
    text-align: center;
    .circle {
      display: inline-block;
      background-color: white;
      width: 40px;
      height: 32px;
      padding-top: 8px;
      font-size: 16px;
      font-weight: 900;
      color: $bold-color;
      border-radius: 20px;
      @extend %box-shadow;
      transition: all 300ms;
    }
    .label {
      font-size: 12px;
      font-weight: 900;
      color: #a3a3a3;
    }
    &.active {
      .circle {
        background: $primary-color;
        width: 44px;
        border-radius: 22px;
        height: 32px;
        padding-top: 12px;
        color: white;
        @extend %strong-box-shadow;
      }
      .label {
        font-size: 13px;
        color: $bold-color;
      }
    }
  }
  .body {
    display: none;
    min-height: 400px;
    overflow: visible;
    visibility: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: scale(0);
    transition: all 300ms;
    padding-bottom: 20px;
    .title {
      font-size: 20px;
      font-weight: 900;
      margin-bottom: 20px;
      margin-top: 20px;
      &.mobile {
        font-size: 14px;
        margin-bottom: 10px;
        margin-top: 10px;
      }
    }
    &.visible {
      display: flex;
      opacity: 1;
      visibility: visible;
      transform: scale(1);
    }
  }
}
