@import '../../../styles/_Index.scss';

.approve-page {
  padding: 10px;
  .bold-text {
    color: $dust-color;
    font-weight: bold;
  }
  .gray-text {
    color: gray;
  }
  .toolbar {
    margin-left: 10px;
    margin-right: 10px;
    .total {
      font-size: 20px;
      color: $bold-color;
      font-weight: 800;
    }
  }
  .info {
    .id {
      font-weight: bold;
    }
    p {
      font-size: 13px;
      color: $gray-color;
      white-space: pre-line;
    }
  }

  .user-item {
    .name {
      font-size: 14px;
      font-weight: bold;
      color: black;
    }
    .role {
      &.admin {
        color: $primary-color;
      }
    }
  }
}
