@import '../../styles/Index';

.drawer-container::-webkit-scrollbar {
  display: none !important;
}
.drawer-container {
  height: fit-content;
  min-height: 100vh !important;
  width: 250px;
  max-height: 100vh;
  background-color: $primary-color;
  box-shadow: 0px 0px 10px 2px rgba(80, 80, 80, 0.3);
  color: white;
  transition: all 300ms;
  overflow: scroll;
  z-index: 4;
  
  &.compact {
    width: 70px;
    .logo,
    .meta {
      display: none;
    }
    .avatar-container {
      margin-bottom: 30px;
      .name {
        display: none;
      }
      img {
        width: 40px;
        height: 40px;
      }
    }
    .menu {
      .item {
        .text {
          display: none;
        }
      }
    }
  }
  .logo {
    padding: 30px 30px 0px 30px;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
  }
  .meta {
    font-size: 12px;
    font-weight: 600;
    text-align: center;
  }
  .avatar-container {
    text-align: center;
    padding: 20px 0px;
    .name {
      font-weight: 600;
    }
    img {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      object-fit: cover;
      transition: all 300ms;
    }
  }
  .drawer-close-icon{
    margin-left: 50%;
  }
  .menu {
    .item {
      color: white;
      &:hover {
        opacity: 0.6;
      }
      cursor: pointer;
      padding: 17px 20px;
      border-left: 5px solid $primary-color;

      &.active {
        background-color: #be4f00;
        border-left: 5px solid white;
      }
      .text {
        text-transform: uppercase;
        font-weight: 900;
        line-height: 0.6;
        margin-left: 20px;
        font-size: 16px;
      }
      div {
        display: inline-block;
      }
    }
  }
}
