@import '../../../styles/_Index.scss';

.data-list {
  position: relative;
  background: transparent;
  .list {
    overflow: auto;
  }
  &.loading {
    filter: grayscale(1);
  }
  .search {
    input {
      border-radius: 20px;
      padding: 6px 12px;
      margin-bottom: 10px;
    }
  }
  .loading {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(160, 160, 160, 0.5);
    z-index: 30000;
    border-radius: 10px;
  }
  .empty {
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: $gray-color;
  }
  .error {
    font-size: 13px;
    font-weight: bold;
    color: $red-color;
  }
}
