@import '../../../styles/_Index.scss';

.projects-page {
  padding: 10px;
  .bold-text {
    color: $dust-color;
    font-weight: bold;
  }
  .toolbar {
    .total {
      font-size: 20px;
      color: $bold-color;
      font-weight: 800;
    }
  }
  .image {
    width: 30px;
    height: 30px;
    border-radius: 18px;
    overflow: hidden;
    border: 2px white solid;
    display: inline-block;
    margin-left: -6px;
    @extend %box-shadow;
    img {
      width: 30px;
      height: 30px;
      object-fit: cover;
    }
  }
} 

