@import '../../../styles/_Index.scss';

.activity {
  padding: 10px;
  img {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    object-fit: cover;
  }
  .des {
    font-size: 14px;
    color: $gray-color;
    padding-left: 10px;
    .user {
      font-weight: 900;
      color: $dust-color;
    }
    .item {
      font-weight: 900;
      color: $primary-color;
    }
  }
}
