@import '../../../styles/_Index.scss';

.requests-page {
  h2 {
    margin-bottom: 10px;
  }
  .customer {
    color: $primary-color;
    font-weight: bold;
  }
  .action-btn {
    padding: 12px 5px;
    color: $primary-color;
    font-weight: bold;
    font-size: 14px;
  }
}

.search-box {
  position: relative;
  .fa-search {
    position: absolute;
    left: 10px;
    top: 13px;
    z-index: 10000;
    color: $gray2-color;
  }
  input {
    border-radius: 20px;
    width: 220px;
    padding: 10px 10px 7px 35px !important;
    &::placeholder {
      font-weight: 700;
      color: $gray2-color;
    }
    border-color: $lightgray-color;
  }
}

.requests-page .page-size .dropdown .main {
  min-width: auto;
  font-weight: bold;
  color: #3f536e;
}
 .inputSearch {
  width: 120px;
 }
// .ant-modal-content{
//   position: absolute;
//   bottom: 0;
//   width: 100%;
// }
// .ant-modal-wrap {
//   .ant-modal {
//     width: 100%;
//   }
// }
