@import '../../styles/Colors';

.checkbox {
  .main {
    cursor: pointer;
    width: 20px;
    height: 20px;
    border: $lightblue-color 1px solid;
    border-radius: 4px;
    transition: border-color 300ms, background-color 300ms;
    margin-right: 10px;
    box-shadow: 0px 1px 3px #e0e0e0;
    text-align: center;
    &:hover {
      border-color: $primary-color;
    }
    &.checked {
      background-color: $primary-color;
      border-color: $primary-color;
      align-items: center;
      justify-content: center;
    }
    &.disabled {
      cursor: not-allowed;
    }
  }
  label {
    cursor: pointer;
    font-size: 16px;
    color: #031126;
  }
  .checkmark {
    display: inline-block;

    &:after {
      content: '';
      display: block;
      width: 4px;
      height: 10px;
      border: solid white;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
  }
}
