@import '../../../styles/_Index.scss';

.house-detail {
  // position: absolute;
  // right: 0px;
  // top: 0px;
  // bottom: 0px;
  // width: 400px;
  background: white;
  // z-index: 100;
  overflow: scroll;
  // @extend %box-shadow;
  // border-top: 0.5px solid #8080806b;
  // transform: translateX(100%) scaleX(0);
  // transition: transform 200ms;
  // &.visible {
  //   transform: translateX(0%) scaleX(1);
  // }
  .header {
    @extend %strong-box-shadow;
  }
  h3 {
    margin: 0px;
    color: $dust-color;
    font-weight: 900;
    font-size: 23px;
  }
  @media screen and (max-device-width: 480px) and (orientation: portrait) {
    left: 0px;
    width: auto;
    border-top: none;
  }
  .description,
  .reject-condition {
    padding: 20px;
    h4 {
      margin-top: 0px;
    }
    p {
      font-size: 13px;
      white-space: pre-line;
      margin: 0px;
    }
    border-bottom: 0.5px solid rgba(128, 128, 128, 0.39);
    .reject-public {
      margin-bottom: 20px;
      .warning {
        color: red;
      }
    }
    .reject-web .warning {
      color: red;
    }
  }
  .image-row {
    padding: 20px 0px 20px 20px;
    border-bottom: 0.5px solid rgba(128, 128, 128, 0.39);
    h4 {
      margin-top: 0px;
    }
    .row {
      overflow: auto;
      white-space: nowrap;
      img {
        width: 100px;
        height: 100px;
        border-radius: 10px;
        object-fit: cover;
        margin-right: 10px;
      }
            
    }
    .flex {
      display: flex !important;
    }
    
  }
  .info {
    padding: 20px;
    border-bottom: 0.5px solid rgba(128, 128, 128, 0.39);
    .icon-item {
      text-align: center;
      span {
        margin-left: 10px;
        font-size: 13px;
        font-weight: 800;
        color: $gray2-color;
      }
    }
  }
  .action-box {
    padding: 10px 20px;
    border-bottom: 0.5px solid rgba(128, 128, 128, 0.39);
    .linkHouseToPost {
      color: #ff6c00;
      font-size: 15px;
      font-weight: 700;
      padding: 10px;
      &:hover {
        background-color: #ff8731;
        border-radius: 20px;
        color: white;
      }
    }
  }
  .customer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;
    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-right: 10px;
    }
    .text {
      font-size: 14px;
      font-weight: 700;
      color: $dust-color;
    }
    .phone {
      font-size: 13px;
      color: $gray2-color;
    }
  }
  .toolbar-comp {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 100;
  }
  .detail {
    padding: 20px;
    .label {
      font-size: 14px;
      font-weight: 600;
      color: gray;
      padding: 0px;
    }
    span {
      max-width: 160px;
      margin-top: 8px;
      font-size: 14px;
      font-weight: 800;
      color: grey;
    }
  }
  .label {
    padding: 5px;
  }
}
