@import '../../styles/Colors';


.dialog {
    border: 1px solid $gray-color;
    border-radius: 2px;
    overflow: hidden;
    .header {
        padding: 15px;
        background: $primary-color;
        color: white;
        text-align: center;
        font-size: 16px;
        font-weight: bold;
        .close {
            cursor: pointer;
            position: absolute;
            right: 15px;
            top: 15px;
        }
    }
    .content {
    }
}