@import '../../../styles/_Index.scss';

.dashboard-page {
  padding: 30px 60px;
  @media screen and (max-device-width: 480px) and (orientation: portrait) {
    padding: 20px;
  }
  h2 {
    margin-bottom: 10px;
  }
  .notiItem {
    position: relative;
    &:hover {
      opacity: 0.7;
      background: whitesmoke;
    }
    &.read {
      // background: whitesmoke;
    }
    .user {
      font-weight: 700;
      color: $darkgray-color;
    }
    font-size: 13px;
    p {
      max-width: 220px;
      margin: 0px;
      margin-right: 10px;
    }
    .time {
      font-size: 10px;
      color: $gray2-color;
      font-weight: 700;
    }
    .avatar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 10px;
    }
    .dot {
      position: absolute;
      top: 0px;
      left: 0px;
    }
  }
  .card {
    .title {
      font-size: 13px;
      color: $bold-color;
      font-weight: 900;
      text-transform: uppercase;
    }
    .number {
      font-size: 28px;
      font-weight: bold;
    }
    .new {
      font-size: 12px;
      color: $darkgray-color;
    }
  }
  .user-avt {
    padding: 5px;
    margin-left: 10px;

    img {
      width: 25px;
      height: 25px;
      border-radius: 20px;
      object-fit: cover;
    }
  }
}
