@import '../../styles/Index';

.table-container {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  overflow-x: scroll;
  @extend %box-shadow;
  table {
    border-collapse: collapse;
    width: 100%;
    th,
    td {
      min-width: 80px;
    }
    tr.header {
      background-color: white;
      th {
        text-align: center;
        text-transform: uppercase;
        padding: 15px 0px;
        font-size: 11px;
        font-weight: 800;
        line-height: 1.1;
        letter-spacing: 0.9px;
        color: $dust-color;
        opacity: 0.8;
      }
    }
    tr {
      border: 1px solid $lightgray-color;
      outline: none;
      td:first-child,
      th:first-child {
        padding-left: 10px;
      }
      td:last-child,
      th:last-child {
        padding-right: 10px;
      }

      &.selected {
        border-left: 10px $primary-color solid;
        td {
          background: whitesmoke;
        }
      }
    }
    td {
      background-color: white;
      padding: 12px 0px;
      text-align: center;
      font-size: 12px;
      font-weight: 600;
      line-height: 1.83;
      color: $gray-color;
      // white-space: nowrap;
    }
  }
}
