@import '../../styles/Colors';
@import '../../styles/Common';

.avatar {
  text-align: center;
  .photo {
    position: relative;
  }
  .placeholder {
    background-image: url(../../assets/images/avt2.png);
    background-size: cover;
  }
  label {
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
    .placeholder,
    .photo {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      display: inline-block;
      text-align: center;
      background-color: whitesmoke;
    }
    .text {
      font-size: 14px;
      font-weight: 900;
      color: $darkgray-color;
    }
    img {
      width: 120px;
      height: 120px;
      object-fit: cover;
      border-radius: 50%;
    }
    .delete {
      position: absolute;
      top: 42px;
      right: 42px;
      padding: 6px 10px;
      border-radius: 50%;
      background-color: gray;
      &:hover {
        cursor: pointer;
        background-color: rgb(199, 199, 199);
      }
    }
  }
  input {
    visibility: hidden;
  }
}
