@import '../../../styles/Index';

.notification-popup {
  visibility: hidden;
  position: absolute;
  top: 60px;
  right: 50px;
  z-index: 100000;
  background-color: white;
  border-radius: 10px;
  @extend %strong-box-shadow;
  transform: scale(0);
  transform-origin: top;
  opacity: 0;
  transition: transform 200ms, opacity 200ms;
  overflow: hidden;
  @media screen and (max-device-width: 480px) and (orientation: portrait) {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 0px;
  }
  &.visible {
    visibility: visible;
    transform: scale(1);
    opacity: 1;
  }
  .header {
    background-color: $primary-color;
    color: white;
    text-align: center;
    padding: 10px 20px;
    font-weight: 700;
    position: relative;
    .close {
      position: absolute;
      right: 10px;
      top: 10px;
    }
  }
  .placeholder {
    padding: 20px;
    font-size: 13px;
    font-weight: 700;
    color: $darkgray-color;
    text-align: center;
  }
  .body {
    .item {
      position: relative;
      border-bottom: 0.5px solid rgba(211, 211, 211, 0.466);
      &:hover {
        opacity: 0.7;
        background: whitesmoke;
      }
      &.read {
        background: whitesmoke;
      }
      .user {
        font-weight: 700;
        color: $darkgray-color;
      }
      padding: 10px 20px;
      font-size: 13px;
      p {
        max-width: 220px;
        margin: 0px;
        margin-right: 10px;
        color: black;
      }
      .time {
        font-size: 10px;
        color: $gray2-color;
        font-weight: 700;
      }
      .avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 10px;
      }
      .dot {
        position: absolute;
        top: 5px;
        left: 10px;
      }
    }
  }
}
