@import '../../styles/Colors';
@import '../../styles/Common';

.uploader {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  .photo,
  label {
    box-shadow: 0px 1px 7px 2px #d2d2d2;
    border-radius: 10px;
    position: relative;
    width: 100px;
    height: 100px;
    margin-right: 20px;
    margin-bottom: 20px;
    img {
      width: 100px;
      height: 100px;
      object-fit: cover;
      border-radius: 7px;
    }
    .copy {
      position: absolute;
      top: 40px;
      left: 16px;
      button {
        padding: 5px;
        font-size: 12px;
      }
    }
    .rotate {
      position: absolute;
      top: 38px;
      left: 38px;
      button {
        padding: 7px 10px;
        font-size: 12px;
      }
    }
    .delete {
      position: absolute;
      top: -12px;
      right: -12px;
      padding: 3px 8px;
      border-radius: 50%;
      background-color: red;
      &:hover {
        cursor: pointer;
        background-color: rgb(255, 112, 112);
      }
    }
  }
  label {
    background-color: white;
    // border: 3px solid $gray2-color;
    text-align: center;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
    .text {
      font-size: 14px;
      font-weight: 900;
      color: $gray2-color;
    }
  }
  .photo {
    &.degree90 {
      img {
        transform: rotate(-90deg);
      }
    }
    &.degree180 {
      img {
        transform: rotate(-180deg);
      }
    }
    &.degree270 {
      img {
        transform: rotate(-270deg);
      }
    }
  }
  input {
    visibility: hidden;
  }
}
