@import 'styles/_Index.scss';
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
h1,
h2 {
  margin: 0px;
}

@media screen and (max-device-width: 480px) {
  td {
    font-size: 12px !important;
    padding: 3px 6px !important;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

hr {
  border-color: $gray2-color;
  border-width: 0.5px;
  opacity: 0.3;
  margin: 0px;
}
.ant-select {
  .ant-select-selection,
  .ant-select-selection--multiple,
  .ant-select-selection--single {
    padding-top: 8px;
    padding-bottom: 10px;
    border: 1px solid $gray2-color;
    border-radius: 6px;
    min-height: 47px;
    height: auto;
  }
  .ant-select-selection--single {
    height: 47px;
  }
}

.page-enter.in-transition {
  opacity: 0;
  transform: translateX(1000px);
}
.page-enter-active.in-transition {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.page-exit.in-transition {
  opacity: 1;
  transform: translateX(0);
}
.page-exit-active.in-transition {
  opacity: 0;
  transform: translateX(1000px);
  transition: opacity 300ms, transform 300ms;
}

.page-enter.out-transition {
  opacity: 0;
  transform: translateX(-1000px);
}
.page-enter-active.out-transition {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.page-exit.out-transition {
  opacity: 1;
  transform: translateX(0);
}
.page-exit-active.out-transition {
  opacity: 0;
  transform: translateX(-1000px);
  transition: opacity 300ms, transform 300ms;
}
.ant-pagination {
  width: fit-content;
  height: 50px;
  align-items: center;
}
.ant-table-pagination {
  margin: auto !important;

}