@import '../../../../styles/Colors';
@import '../../../../styles/Common';

.comment-editor {
  .photo {
    position: relative;
  }
  .photo {
    width: 120px;
    height: 120px;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
    background-color: whitesmoke;
    @extend %box-shadow;
  }
  img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    background-color: whitesmoke;
    border-radius: 10px;
  }
  .delete {
    position: absolute;
    top: 42px;
    right: 42px;
    padding: 6px 10px;
    border-radius: 50%;
    background-color: gray;
    &:hover {
      cursor: pointer;
      background-color: rgb(199, 199, 199);
    }
  }
  .upload-area {
    height: 0px;
    input {
      visibility: hidden;
    }
    .upload-button {
      display: flex;
    }
  }
}
