@import '../../../styles/_Index.scss';

.new-project-page {
  padding: 30px;
  h2 {
    font-size: 20px;
    font-weight: 900;
    color: $darkgray-color;
  }
  @media only screen and (min-width: 1200px) {
    .ortherClass {
      margin-left: 85%;
    }
  }
  @media only screen and (max-width: 900px) {
    .ortherClass {
      margin-left: 50%;
    }
  }
}
