@import '../../../styles/Colors';

.profile-page {
  padding: 20px;
  h2 {
    font-size: 18px;
    font-weight: 700;
  }
  .field {
    padding: 5px 0px;
    label {
      font-size: 13px;
      font-weight: 700;
      color: $gray2-color;
    }
    span {
      font-weight: 600;
    }
  }
}
