@import '../../../../styles/Colors';

$chat-title-shadow: darken($accent-color, 75.29);

#chat-title {
  display: flex;
  background: $accent-color;
  color: #0048aa; //$primary-color;
  font-weight: bold;
  font-size: 1.5rem;
  border-radius: 0 10px 0 0;
  box-shadow: 0 1px 3px -1px $chat-title-shadow;
  padding: 1% 1% 1%;
  z-index: 1;
  height: inherit;
}
.raise-hand {
  margin-left: 2%;
}
.lst-button {
  display: flex;
}
// @media only screen and (max-width: 900px) {
//   .lst-button {
//     display: block;
//     margin-top: -5px;
//   }
// }
