@import '../../styles/Colors';
@import '../../styles/Common';

.action-menu {
  position: relative;
  .main {
    cursor: pointer;
    font-size: 18px;
    color: $darkgray-color;
  }
  .btn-holder {
    border-radius: 50%;
    padding: 6px 15px;
    background: white;
    &:hover {
      background: $primary-color;
      color: white;
    }
    &.active {
      background: $primary-color;
      @extend %box-shadow;
      color: white;
    }
  }
  .menu-content {
    position: absolute;
    z-index: 10000;
    max-height: 350px;
    min-width: 100px;
    overflow-y: scroll;
    @extend %box-shadow;
    border-radius: 10px;
    transform-origin: top;
    transform: rotateX(-90deg);
    transition: transform 0.2s;
    top: calc(100% + 2px);
    right: 0px;
    border-top: 0px;
    .item {
      background-color: white;
      padding: 10px 10px;
      font-size: 14px;
      font-weight: bold;
      color: $darkgray-color;
      border-bottom: 0.5px solid $lightgray-color;
      &:hover {
        background-color: #f1f1f1;
      }
    }
    &.active {
      transform: rotateX(0deg);
    }
    .meta {
      font-size: 12px;
      font-weight: normal;
    }
  }
}
