@import '../../../styles/_Index.scss';

.new-user {
  padding: 30px;
  h2 {
    font-size: 20px;
    font-weight: 900;
    color: $darkgray-color;
  }
}
@media screen and (min-device-width: 1700px) {
  .new-user {
    margin-top: 50px;
  }
}
@media screen and(max-width: 400px) {
  .modal-container.pd-t {
    padding-top: 110vh !important;
  }
}
