@import '../../styles/Colors';
@import '../../styles/Common';

.slider {
  position: relative;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;

    &.active {
      display: inline-block;
    }
  }
  .next,
  .back {
    position: absolute;
    top: 50%;
    margin-top: -15px;
  }
  .next {
    right: 10px;
  }
  .back {
    left: 10px;
  }
}
