@import '../../../styles/_Index.scss';

.customers-page {
  overflow: hidden;
  .page-size {
    .dropdown .main {
      min-width: auto;
      font-weight: bold;
      color: $dust-color;
    }
  }
  .bold-text {
    color: $dust-color;
    font-weight: bold;
  }
  .toolbar {
    .total {
      font-size: 20px;
      color: $bold-color;
      font-weight: 800;
    }
  }
  h1 {
    color: $dust-color;
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
  }
  .bold-primary-text {
    color: $primary-color;
    font-weight: bold;
    font-size: 13px;
  }
  .avatar-cell {
    img {
      width: 40px;
      height: 40px;
      border-radius: 20px;
      object-fit: cover;
    }
  }
  .small-text {
    font-size: 12px;
  }
  .search-component {
    position: relative;
    &:hover {
      .fa-search {
        color: $primary-color;
      }
    }
    .fa-search {
      position: absolute;
      left: 10px;
      top: 12px;
      z-index: 1;
      color: $gray-color;
      transition: color 500ms;
    }
    input {
      border-radius: 25px;
      padding: 10px 15px 10px 30px !important;
      width: 200px;
    }
  }
}
